<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PersonalAccessToken" value="YourPersonalAccessToken" />
    <add key="Organization" value="YourOrganization" />
    <add key="AttachmentName" value="YourAttachmentName.txt" />
    <!-- Add other configuration parameters as needed -->
  </appSettings>
</configuration>

<!--=TEXT((YEAR(A12)-2000)*1000+A12-DATE(YEAR(A12),1,1)+1, "0")&TEXT(ROW(A12)-1, "00000")-->

