<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PersonalAccessToken" value="YourPersonalAccessToken" />
    <add key="Organization" value="YourOrganization" />
    <add key="AttachmentName" value="YourAttachmentName.txt" />
    <!-- Add other configuration parameters as needed -->
  </appSettings>
</configuration>
